body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url('images/bg.jpeg');
    background-position: center;
    background-size: cover;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color:#fff;
  }
  
  .container {
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    border: 3px solid #d834db;
    margin: auto;
    margin-top: 100px;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #d834db;
    background: transparent;
    color: #fff;
  }
  
  button {
    background: #d834db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid #d834db;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .register-link,
  .forgot-password-link,
  .login-link {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
  }
  
  .login-link a,
  .register-link a,
  .forgot-password-link a {
    text-decoration: none;
    color: #0087FF;
  }